*~
*.txt
*.exe
*.dll
*.sh
*.zip
*.o
code2.c
ltn12.lua
mime.lua
socket.lua
lua/*
mime/*
socket/*
config.lua
plugins/sandbox/luasandbox
.sconsign.dblite
plugins/sandbox/.sconf_temp/*
.sconf_temp/*
config.log

